
@model ResetPassword;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>

        .form-control {
            width: 25%;
        }

        .field-validation-valid {
            display: none;
        }

        .validation-summary-valid {
            display: none;
        }

        textarea {
            width: 400px;
            height: 150px;
            display: block;
        }

        .form-group {
            width: 450px;
        }

        .wrapper {
            width: 220px;
            max-height: 250px;
            overflow-y: scroll;
            background-color: white;
        }
        #EntityId{
            width:40% !important;
        }
        #corporateName{
            display:none;
            margin: -48px 120px 20px;
            color:red;
            font-size: 17px;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("ResetPassword", "Home"))
    {
        <h3><strong>Reset Password</strong></h3>

        <div class="form-group">
            @Html.LabelFor(m => m.ProviderMasterEntityId)
            @Html.TextBoxFor(m => m.ProviderMasterEntityId, new { @class = "form-control", id = "entityId" })
            @Html.ValidationMessageFor(m => m.ProviderMasterEntityId, "ProviderMasterEntityId is required", new { @class = "text-danger" })
        </div>
        <p id="corporateName"></p>

        <div class="form-group">
            @Html.LabelFor(m => m.UserIds)
            @Html.EditorFor(m => m.UserIds, new { @class = "form-control" })
        </div>       

        <button type="submit" value="Submit" id="btnSubmit" class="btn btn-primary">Submit</button>
        @if (Model != null && !string.IsNullOrEmpty(Model.Message))
        {
            <span id="message">@Html.DisplayFor(m => m.Message)</span>
        }
    }
</body>
</html>
<script type="text/javascript">
    var valid = 0;
    $(document).ready(function() {
        $('#corporateName').html("");
        $('#corporateName').hide();
    });
    $("#entityId").focusout(function () {
        if (!$.isNumeric($('#entityId').val())) {
            $('#corporateName').html("Invalid EntityId !!!");
            $('#corporateName').show();
        }
        else {
            $('#corporateName').html("");
            $('#corporateName').hide();
            $.ajax({
                dataType: "text",
                type: "GET",
                data: { EntityId: $('#entityId').val() },
                url: "/Home/GetCorporateName",
                success: function (data) {
                    $('#corporateName').show();
                    if (data != "") {
                        valid = 1;
                        $('#corporateName').css("color","blue");
                        $('#corporateName').html(data);                        
                    }
                    else
                        $('#corporateName').html("Invalid EntityId !!!");
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
});
</script>