
@model UpdateIsOTPVerified;
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
 <!DOCTYPE html>
 
<html>
<head>    
    <meta name="viewport" content="width=device-width"/>
    <style>
   .form-control {
       width: 25%;
    }
    .field-validation-valid
     {
         display: none;
     }
     .validation-summary-valid
     {
         display: none;
     }
    textarea {
       width: 400px;
       height: 100px;
       display: block;
    }
    #StatusType{
        display: block;
    }
    .error {
            color: #a94442;
            display: none;
        }
        .boxes{
            float: left;
            width: 15%;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("UpdateIsOTPVerified", "Home"))
    {
        <h3><strong>Contact Verification</strong></h3>
        <br>
        <div class="form-group">
            @Html.RadioButtonFor(model => model.IsUserId, "true") <label>UserId</label>
            @Html.RadioButtonFor(model => model.IsUserId, "false") <label>UserName</label>
            <br>
            @Html.ValidationMessageFor(m => m.IsUserId, "Please select one value", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.UserIdsORUserNames)
            @Html.EditorFor(m => m.UserIdsORUserNames, new { @class = "form-control", @id = "IDtxtbox" })
            @Html.ValidationMessageFor(m => m.UserIdsORUserNames, "Value is required", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="chkbx">
            <div class="boxes">
                @Html.CheckBoxFor(m => m.IsOTPVerified)
                @Html.LabelFor(m => m.IsOTPVerified)
            </div>
            <div class="boxes">
                @Html.CheckBoxFor(m => m.IsEmailVerified)
                @Html.LabelFor(m => m.IsEmailVerified)
            </div>
            <br>
        </div>
        <span class="error">Please select at-least one property.</span>
        <div class="form-group">
            @Html.LabelFor(m => m.Status)
            @{
                List<SelectListItem> type = new List<SelectListItem>();
                type.Add(new SelectListItem { Text = "True", Value = "True" });
                type.Add(new SelectListItem { Text = "False", Value = "False" });
            }
            @Html.DropDownListFor(m => m.Status, type, "-- Select Status --", new { @id = "StatusType" })
            @Html.ValidationMessageFor(m => m.Status, "Status is required", new { @class = "text-danger" })
        </div>
        <button type="submit" value="Submit" class="btn btn-primary" id="btnSubmit">Submit</button>
        @if (Model != null && !string.IsNullOrEmpty(Model.Message))
        {
            <span id="message">@Html.DisplayFor(m => m.Message)</span>
        }
    }
</body>
<script>
$(function () {
            $("#btnSubmit").click(function () {
                var checked_checkboxes = $("#chkbx input[type=checkbox]:checked");
                if (checked_checkboxes.length == 0) {
                    $(".error").show();
                    return false;
                }
                return true;
            });
        });
</script>
</html>